<header>
  <div class="drawer">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
      <div class="navbar bg-base-300 w-full">
        <div class="flex-none lg:hidden">
          <label for="my-drawer-2" aria-label="open sidebar" class="btn btn-square btn-ghost">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block h-6 w-6 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              ></path>
            </svg>
          </label>
        </div>
        <div class="mx-2 flex-1 px-2 font-bold">Adrian Lazo Cabrera</div>
        <div class="hidden flex-none lg:block">
          <ul class="menu menu-horizontal">
            <li>
              <a routerLink="/estilos-page" routerLinkActive="bg-primary text-primary-content"
                >Estilos</a
              >
            </li>
            <li>
              <a routerLink="/simpsons-page" routerLinkActive="bg-primary text-primary-content"
                >Simpsons</a
              >
            </li>
            <li>
              <a
                routerLink="/"
                routerLinkActive="bg-primary text-primary-content"
                [routerLinkActiveOptions]="{ exact: true }"
                >Home</a
              >
            </li>
          </ul>
          <!-- Botón de cambio de tema -->
          <app-theme-switcher></app-theme-switcher>
        </div>
      </div>
    </div>

    <div class="drawer-side flex flex-col justify-between">
      <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>

      <ul class="menu bg-base-200 min-h-full w-80 p-4">
        <li>
          <a routerLink="/estilos-page" routerLinkActive="bg-primary text-primary-content">Estilos</a>
        </li>
        <li>
          <a routerLink="/simpsons-page" routerLinkActive="bg-primary text-primary-content">Simpsons</a>
        </li>
        <li>
          <a
            routerLink="/"
            routerLinkActive="bg-primary text-primary-content"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
      </ul>

      <!-- Theme switcher al pie del menú -->
      <div class="p-4 border-t border-base-300">
        <app-theme-switcher></app-theme-switcher>
      </div>
    </div>
  </div>
</header>
