<app-breadcrumbs
  [items]="[
    { label: 'Inicio', link: '/' },
    { label: 'Simpsons', link: '/simpsons' },
    { label: 'Personajes' }
  ]"
/>

<section class="p-8">
  <app-hero-simpsons
    [simpsonsCount]="simpsonsResource.value()?.count ?? 0"
    [totalPages]="totalPages()"
  ></app-hero-simpsons>

  @if (simpsonsResource.isLoading()) {
  <div class="flex justify-center items-center h-64">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
  }
  <section class="p-8">
    <!-- Paginación y controles - Visible cuando hay páginas -->
    @if (totalPages() > 0) {
    <div class="flex gap-2 items-center h-20 mb-4">
      <app-pagination [pages]="totalPages()" [currentPage]="paginationService.currentPage()" />

      <div class="flex flex-1"></div>
    </div>
  }

  <section>

  <section>
    <!-- Tabla de personajes -->
    @if (simpsonsResource.hasValue()) {
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Ocupación</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (personaje of simpsonsResource.value().results; track personaje.id) {
          <tr>
            <td>{{ personaje.id }}</td>
            <td>{{ personaje.name }}</td>
            <td>{{ personaje.occupation }}</td>
            <td>
              <span class="badge badge-{{ personaje.status === 'Alive' ? 'success' : 'error' }}">
                {{ personaje.status }}
              </span>
            </td>
            <td>
              <a [routerLink]="['/simpsons', personaje.id]" class="btn btn-sm btn-primary">
                Ver Detalle
              </a>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    }
  </section>
  <app-back-to-top></app-back-to-top>
</section>
